@import '../../../styles/color';
@import '../../../styles/variables';

$height-header: 60px;
$width-tab: 240px;
$width-tab-hidden: 94px;
$duration: 0.1s;

.container {
	min-height: 100vh;
	background-color: var(--bg);

	&.bgLight {
		background-color: var(--bg-light);
	}
}

.header {
	height: $height-header;
	position: fixed;
	width: calc(100% - $width-tab);
	top: 0;
	right: 0;
	left: calc($width-tab);
	transition: width $duration ease-in-out, left $duration ease-in-out;
	z-index: 100;
	background-color: var(--bg-light);
	border-bottom: 1px solid var(--border-color);
}

.tab {
	position: fixed;
	width: $width-tab;
	height: 100%;
	top: 0;
	left: 0;
	transition: width $duration ease-in-out;
	z-index: 11;
	background-color: var(--bg-light);
	border-right: 1px solid var(--border-color);
}

.main {
	padding-top: calc($height-header);
	padding-left: calc($width-tab);
	transition: padding-left $duration ease-in-out;
}

.hidden {
	.tab {
		width: $width-tab-hidden;
	}

	.main {
		padding-left: calc($width-tab-hidden);
	}

	.header {
		width: calc(100% - $width-tab-hidden);
		left: calc($width-tab-hidden);
	}
}

@media (max-width: $widthTablet) {
	.tab {
		width: $width-tab-hidden;
	}

	.main {
		padding-top: $height-header;
		padding-left: $width-tab-hidden;
		margin-right: 0;
	}

	.header {
		top: 0;
		width: calc(100% - $width-tab-hidden);
		left: calc($width-tab-hidden);
	}

	.hidden {
		.header {
			width: calc(100% - $width-tab-hidden);
			left: calc($width-tab-hidden);
		}

		.main {
			padding-left: calc($width-tab-hidden);
		}
	}
}

@media (max-width: $widthMobile) {
	.tab {
		position: fixed;
		max-height: 100vh;
		left: -100%;
		top: 0;
		bottom: 0;
		transition: 0.3s;
	}

	.main {
		padding-left: 0;
	}

	.header {
		width: calc(100%);
		left: 0;
	}

	.hidden {
		.tab {
			position: fixed;
			max-height: 100vh;
			left: 0;
			top: 0;
			bottom: 0;
		}

		.main {
			padding-left: $width-tab-hidden;
		}

		.header {
			width: calc(100% - $width-tab-hidden);
			left: $width-tab-hidden;
			z-index: 100;
		}
	}
}
