.head {
	border-left: 4px solid #005994;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	& > h4 {
		color: #202939;
		font-size: 20px;
		font-weight: 600;
	}
}

.state {
	display: flex;
	align-items: center;
	gap: 8px;

	& > p {
		color: #777e90;
		font-size: 14px;
		font-weight: 500;
	}
}

.progress_group {
	padding: 20px;
}

.item {
	& > p:nth-child(1) {
		color: #697586;
		font-size: 14px;
		font-weight: 500;
	}

	& > p:nth-child(2) {
		color: #202939;
		font-size: 15px;
		font-weight: 500;

		.link {
			color: #2970ff;
			font-size: 15px;
			font-weight: 400;
			text-decoration: underline;
			margin-left: 6px;
			transition: 0.3s;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}
