.container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.disbursement_detail {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 12px;
	padding: 12px 0;
	margin-bottom: 24px;
}

.head_disbursement {
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	& > h4 {
		color: #202939;
		font-size: 20px;
		font-weight: 600;
	}
}

.main {
	flex: 1;
	overflow: auto;
}
.layout {
	background-color: #fff;
}

.group_btn {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 10px;
}

.basic_info {
	background-color: #fff;
	border-radius: 12px;
	padding: 12px 0;
}

.nav_link {
	padding: 0 20px;
	border-bottom: 1px solid #eaedf2;
	margin-bottom: 6px;
}

.head {
	border-left: 4px solid #005994;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	& > h4 {
		color: #202939;
		font-size: 20px;
		font-weight: 600;
	}
}

.progress_group {
	padding: 20px;
}

.state {
	display: flex;
	align-items: center;
	gap: 8px;

	& > p {
		color: #777e90;
		font-size: 14px;
		font-weight: 500;
	}
}

.item {
	& > p:nth-child(1) {
		color: #697586;
		font-size: 14px;
		font-weight: 500;
	}

	& > p:nth-child(2) {
		color: #202939;
		font-size: 15px;
		font-weight: 500;

		.link {
			color: #2970ff;
			font-size: 15px;
			font-weight: 400;
			text-decoration: underline;
			margin-left: 6px;
			transition: 0.3s;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.mt {
	margin-top: 20px;
}
.group_button {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 10px;
}

.link {
	color: #005994;
	font-size: 14px;
	font-weight: 600;
	transition: 0.3s;

	&:hover {
		text-decoration: underline;
	}
}
