.container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
	flex-wrap: wrap;
	margin-bottom: 16px;
}

.main_search {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 12px;

	.search {
		min-width: 400px;
	}

	.filter {
		min-width: 220px;
	}
}

.main {
	flex: 1;
	overflow: auto;
	border-radius: 8px;
	background: #fff;
}

.link {
	font-weight: 600;
	color: var(--primary-btn);
	transition: 0.3s;

	&:hover {
		opacity: 0.8;
		text-decoration: underline;
	}
}
