.main_tab {
	padding: 0 20px;
}

.basic_info {
	background-color: #fff;
	border-radius: 12px;
	padding: 12px 0;
}

.mt {
	margin-top: 20px;
}

.line {
	width: 100%;
	height: 1px;
	background: #eaedf2;
	margin-bottom: 10px;
}
