.global-color {
	// Background
	--bg: #f8f8f8;
	--bg-light: #fff;
	--bg-grey: #f4f5f6;
	--bg-grey-2: #e6e6e6;

	// Color
	--light: #fff;
	--primary: #2367ed;
	--dark: #1a1b2d;
	--dark-2: #23262f;
	--neutrals: #6f767e;
	--neutrals-2: #777e90;
	--neutrals-3: #353945;
	--neutrals-4: #6d6e7c;

	--grey-1: #29303c;
	--grey-2: #2f3643;
	--grey-3: #828282;

	--green: #2cae39;
	--purple: #9757d7;
	--blue: #2d74ff;
	--orange: #ff6838;
	--danger: #e93a3a;

	// Border
	--border-color: #e1e5ed;
}
