$color-focus: #066bb1;
$color-error: #e5493f;
$color-disable: #b4b5bc;

$bg-color: #fff;
$bg-color-disable: #f2f2f2;

$border-color: #dae1ea;
$border-color-disable: #cdd5df;

$color-placeholder: #b4b5bc;

$font-size: 16px;
$border-radius: 8px;

.container {
	& + .container {
		margin-top: 16px;
	}

	&.focus {
		.main_select {
			border: 1px solid $color-focus;
		}
	}

	&.readOnly {
		.main_select {
			cursor: default;
			background: $bg-color-disable;
			border: 1px solid $border-color-disable;

			&:hover {
				border: 1px solid $border-color-disable !important;

				.icon {
					color: $color-disable !important;
				}
			}
		}

		.icon {
			color: $color-disable;
		}
	}
}

.label {
	font-size: $font-size;
	font-weight: 500;
	margin-bottom: 8px;
	display: block;
}

.main_select {
	cursor: pointer;
	user-select: none;
	height: 46px;
	padding: 0 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	border-radius: $border-radius;
	background: $bg-color;
	border: 1px solid $border-color;
	transition: 0.3s;

	&:hover {
		border: 1px solid $color-focus !important;
	}
}

.value {
	flex: 1;
	border: none;
	outline: none;
	font-size: $font-size;
	font-weight: 500;

	&.placeholder {
		font-weight: 500;
		color: $color-placeholder !important;
	}
}

.icon {
	color: $color-focus;
	transition: 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_popup {
	position: relative;
	min-width: 540px;
	max-height: 640px;
	border-radius: 8px;
	padding: 24px;
	background-color: $bg-color;
	box-shadow: 0px 137px 123px 0px rgba(175, 175, 175, 0.11), 0px 59.642px 64.694px 0px rgba(175, 175, 175, 0.08),
		0px 29.66px 43.62px 0px rgba(175, 175, 175, 0.07), 0px 13.866px 30.709px 0px rgba(175, 175, 175, 0.07),
		0px 5.309px 20.507px 0px rgba(175, 175, 175, 0.06), 0px 1.17px 10.708px 0px rgba(175, 175, 175, 0.05);
	display: flex;
	justify-content: center;
	flex-direction: column;

	.search_group {
		cursor: text;
		height: 42px;
		display: flex;
		align-items: center;
		gap: 4px;
		font-weight: 500;
		font-size: 14px;
		padding: 0px 12px;
		margin: 12px 0px;
		border-radius: $border-radius;
		background-color: $bg-color;
		border: 1px solid #cdd5df;
		transition: 0.2s;

		.search_icon {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		& > input {
			height: 100%;
			outline: none;
			border: none;
			display: block;
			flex: 1;
			background-color: transparent;
			padding: 4px;

			&::placeholder {
				color: #9ea5c0;
				opacity: 1;
			}
		}
	}

	.control {
		margin-top: 16px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 10px;
	}

	.close {
		cursor: pointer;
		user-select: none;
		position: absolute;
		top: 24px;
		right: 24px;
		transition: 0.3s;

		&:active {
			transform: scale(0.9);
		}
	}
}

.title {
	font-size: 24px;
	font-weight: 600;
}

.list_option {
	max-height: 320px;
	min-height: 280px;
	overflow: auto;
}

.select_all {
	margin-top: 6px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #e1e5ed;

	&.isShowCheckAll {
		padding: 8px 12px;
	}
	.count_selected {
		font-size: 14px;
		font-weight: 500;

		span {
			font-weight: 600;
			margin-left: 4px;
		}
	}
}

.option_row {
	border-bottom: 1px solid #e1e5ed;
}

.option {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 8px 12px;

	&.notBorder {
		border-bottom: 1px solid transparent;
	}

	.checkbox {
		cursor: pointer;
		width: 20px;
		height: 20px;
		accent-color: #3772ff;

		&.disable {
			pointer-events: none;
			cursor: default;
			user-select: none;
			opacity: 0.6;
		}
	}

	.label_check_all {
		color: #777e90;
		cursor: pointer;
		user-select: none;
		font-size: $font-size;
		font-weight: 500;
	}

	.label_check_item {
		width: 100%;
		cursor: pointer;
		user-select: none;
		font-size: $font-size;
		font-weight: 500;

		&.disable {
			cursor: default;
			user-select: none;
			color: $color-disable;

			span {
				color: $color-disable;
			}
		}
	}
}

.empty {
	height: 280px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	& > p {
		margin-top: 6px;
		font-weight: 600;
	}
}

.list_selected {
	margin-top: 6px;
	display: flex;
	align-items: center;
	gap: 4px;
	flex-wrap: wrap;
}

.selected {
	display: flex;
	align-items: center;
	gap: 8px;
	border-radius: 33px;
	border: 1px solid #d7e3ff;
	background: #f2f8ff;
	padding: 4px 10px;

	&.disabled {
		cursor: default;
		background: $bg-color-disable;
		border: 1px solid $border-color-disable;

		& > p {
			color: $color-disable;
		}

		.icon_selected {
			cursor: default;
			pointer-events: none;
			color: $color-disable;
		}
	}

	& > p {
		user-select: none;
		color: #1850d7;
		font-size: 14px;
		font-weight: 500;
	}

	.icon_selected {
		cursor: pointer;
		color: #6f767e;
		font-size: 18px;
		transition: 0.3s;

		&:hover {
			opacity: 0.7;
		}

		&:active {
			transform: scale(0.9);
		}
	}
}

.arrow {
	transition: 0.3s;
	width: 16px;
	height: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	&:hover {
		color: $color-focus;
	}

	&.open {
		transform: rotate(90deg);
	}
}

.subContent {
	margin-left: 40px;
	margin-bottom: 10px;
	border-left: 2px solid #e6e8ec;
	background-color: #f9fafb;
	border-radius: 4px;
	padding-top: 6px;
	padding-bottom: 6px;

	display: flex;
	flex-direction: column;
	gap: 6px;

	.subItem {
		font-size: 13px;
		color: #3772ff;
		padding: 2px 4px;
		border-radius: 4px;
		transition: background-color 0.2s ease, color 0.2s ease;
	}
}

.label_check_item_row {
	display: flex;
	flex-direction: column;
	width: 100%;
	cursor: pointer;
	user-select: none;
	font-size: $font-size;
	font-weight: 500;

	&.disable {
		cursor: default;
		user-select: none;
		color: $color-disable;

		span {
			color: $color-disable;
		}
	}
}

.inlineSubItem {
	display: inline-block;
	font-size: 13px;
	color: #3772ff;
	border-radius: 4px;
}
.customMultiSubWrapper {
	display: inline-block;
	font-size: 13px;
	border-radius: 4px;
}
