@import '../../../../styles/variables';

.group_btn {
	display: flex;
	align-items: center;
	gap: 10px;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1;
	overflow: auto;
}

.basic_info {
	background-color: #fff;
	border-radius: 12px;
	padding: 12px 0;
}

.head {
	border-left: 4px solid #005994;
	padding: 0 20px;

	& > h4 {
		color: #202939;
		font-size: 20px;
		font-weight: 600;
	}
}

.form {
	padding: 20px;
}

.col_2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.col_3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.mt {
	margin-top: 20px;
}

@media (max-width: $widthTablet) {
	.grid {
		grid-template-columns: 1fr;
		gap: 16px;
	}

	.mt {
		margin-top: 16px;
	}
}
