.container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.group_btn {
	display: flex;
	align-items: center;
	gap: 10px;
}

.mt {
	margin-top: 20px;
}

.box_control {
	padding: 12px 20px;
	border-radius: 12px;
	border: 1px solid #fff;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 48.48%, rgba(218, 241, 255, 0.8) 100%);
	display: flex;
	align-items: center;
	justify-content: space-between;

	& > h4 {
		color: #141416;
		font-size: 18px;
		font-weight: 600;
	}
}

.basic_info {
	background-color: #fff;
	border-radius: 12px;
	padding: 12px 0;
}

.head {
	border-left: 4px solid #005994;
	padding: 0 20px;

	& > h4 {
		color: #202939;
		font-size: 20px;
		font-weight: 600;
	}
}

.progress_group {
	padding: 20px;
}

.item {
	& > p:nth-child(1) {
		color: #697586;
		font-size: 14px;
		font-weight: 500;
	}

	& > p:nth-child(2) {
		color: #202939;
		font-size: 15px;
		font-weight: 500;
	}
}
