@import '../../../../../../styles/variables';

.title {
	color: #2f3d50;
	font-size: 20px;
	font-weight: 700;
}

.des {
	color: var(--text-color-secondary-2);
	font-size: 14px;
	font-weight: 400;
	margin-top: 4px;
}

.form {
	margin-top: 24px;
}

.btn {
	margin-top: 20px;
}

@media (max-width: $widthMobile) {
	.title {
		color: #2f3d50;
		font-size: 16px;
		margin-top: 12px;
	}

	.des {
		font-size: 13px;
	}

	.form {
		margin-top: 16px;
	}

	.btn {
		margin-top: 16px;
	}
}
