@import '../../../../styles/variables';

.container {
	width: 700px;
	border-radius: 32px;
	background: #fff;
	padding: 68px 95px;

	&.formOTP {
		width: 476px;
		padding: 40px;
		border-radius: 16px;
	}
}

@media (max-width: $widthMobile) {
	.container {
		width: 100vw;
		height: 100vh;
		border-radius: 0;
		padding: 16px 24px;
		display: flex;
		justify-content: center;
		align-items: center;

		&.formOTP {
			width: 100vw;
			height: fit-content;
			border-radius: 12px;
			padding: 16px 24px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
